.sety__list-box {
    width: 50%;
}
.sety__box {
    width: 100%;
}
.sety__list {
    display: flex;
    margin-bottom: 10px;
}
.sety__title {
    text-align: center ;
}
.sety__title {
   
    position: absolute;
    font-size: 35px;
    font-family: "Oswald";
    align-items: center;
    margin: 45px 0;
    background-color: none;
}
.sety__boxs {
    display: flex;
    justify-content: center;
}
.sety__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
       margin-bottom: 10px;
    
    }
}
